.post{
    background-color: #fff;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
    padding: 10px;
    box-shadow: var(--element-shadow);
    margin-bottom: 15px;
}
.post-title{
    color: #596BEC;
    display: flex;
    border-bottom: 1px solid RGBA(0,0,0,.08);
    margin-bottom: 1em;
    padding: 7px 0 5px;
}

.post-title-icon{
    font-size: 18px;
    vertical-align: -5px;
}
.post-title h2{
    position: relative;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
}

.movie-main-content{
    display: flex;
    margin-bottom: -15px;
}
.movie-main-content figure{
    max-width: 215px;
    max-height: 295px;
}
.movie-main-content img{
    
    border-radius: 10px;
     
    transition: filter .3s linear;
    -webkit-transition: filter .3s linear;
    -moz-transition: filter .3s linear;
    -ms-transition: filter .3s linear;
    -o-transition: filter .3s linear;
}
.movie-main-content figure:hover img{
    filter: contrast(1.3);
    -webkit-filter: contrast(1.3);
}
.movie-info{
    position: relative;
}
.movie-info-list{
    padding: 0 20px;
}
.movie-info-list li{
    font-size: 13px;
    margin-bottom: 18px;
}
.movie-info-icon{
    color: #596BEC ;
    margin-left: 5px;
    vertical-align: -3px;
    text-align: center;
    align-self: center;
}
.movie-info-list .story{
    text-align: justify;
    line-height: 27px;
    overflow: hidden;
    text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.actors .actors-icon{
    margin-right: -3px;
}
.movie-subtitle-alert{
    display: flex;
    background: #f9464f;
    max-width: 200px;
    color: #fff;
    padding: 0px 6px 2px 0;
    font-size: 14px;
    align-self: center;
    justify-items: center;
    align-items: center;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
.movie-subtitle-alert span{
    line-height: 7px;
}
.movie-subtitle-alert .movie-subtitle-alert-icon{
    vertical-align: -5px !important;
    margin-top: 2px !important;
    font-size: 19px !important;
    margin-left: 7px !important;
}
.movie-more{
    display: flex;
    justify-content: space-between;
   
}
.movie-more span{
    margin-top: 12px;
    color: #808080;
    font-size: 14px;
}
.more-btn{
    background: linear-gradient(to right,rgba(52,130,238,1) 0%,rgba(127,85,235,1) 82%,rgba(127,85,235,1) 100%);
    color: #fff;
    border-radius: 46px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    -ms-border-radius: 46px;
    -o-border-radius: 46px;
    outline: none;
    box-shadow: none;
    transition: 0.3s all ease;
}
.more-btn:hover{
    background: linear-gradient(to right,rgb(185, 52, 238) 0%,rgba(127,85,235,1) 82%,rgba(127,85,235,1) 100%);
}
.more-btn:hover ,.more-btn:focus {
    color: #fff;
   
    outline: none;
    box-shadow: none;
}
.post-imdb-rate{
    position: absolute;
    left: 5px;
}
.post-imdb-rate button , 
.post-imdb-rate button:hover,
.post-imdb-rate button:focus{
    background-color: #f3c74d;
    outline: none;
    box-shadow: none;
    padding: 1px 7px;
    float: left;
    margin-right: 5px;
    text-align: center;
}
.post-imdb-rate span{
    vertical-align: -4px;
    font-size: 19px;
    color: #3d3a3a;
}
.post-imdb-rate span small{
    color: #989797;
}

.pagination{
    width: 100%;
    background-color: #fff;
    padding: 5px 10px;
    box-shadow: var(--element-shadow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.custom-pagination{
    box-shadow: none;
    border: none;
    text-align: center;
    margin: 0 auto;
    outline: none;
}

.custom-pagination .page-item:focus,
.custom-pagination .page-item:hover{
    outline: none;
    box-shadow: none;
}

.custom-pagination .page-item{
    margin: 0 6px !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}
.page-item .page-link{
    border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    -ms-border-radius: 7px !important;
    -o-border-radius: 7px !important;
}
.page-item.active .page-link{
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
   
}
.page-item.disabled .page-link{
    background-color: #efefef;
}
@media screen and (max-width:992px) {
    .movie-main-content{
        display: flex;
        flex-direction: column;
    }
    .movie-main-content figure{
        margin: 0 auto 20px;
    }
    .movie-subtitle-alert{
        margin: 10px 10px 0 10px;
        text-align: center;
        
        max-width: 100%;
         
    }
    .movie-subtitle-alert span{
        text-align: center;
    }
    .movie-more{
        margin: 10px 0 10px 0;
    }
}